<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sample Application with The WatchWatcher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="sampleApp/sampleApp.css" />
</head>
<body ng-app="sampleApp" ng-controller="MainController">

  <!-- The WatchLight triggers whenever any watch in your application fires. -->
  <!-- This makes it obvious how your development choices are impacting the digest loop. -->
  <watch-light intro-text="This blinks activity for every Angular $digest cycle.<br/>Click to log detailed information to the console."></watch-light>

  <watch-info-bar></watch-info-bar>


  <nav></nav>


  <div class="content">

    <h1>Sample Rolodex App <span class="muted">(For Performance Measurement)</span></h1>

    <form name="userForm" ng-submit="saveCurrentUser()">
      <label for="FirstName">First Name</label>
      <input  id="FirstName" name="FirstName" ng-model="user.firstName" required>

      <label for="LastName">Last Name</label>
      <input  id="LastName" name="LastName" ng-model="user.lastName" required>

      <label for="Email">Email Address</label>
      <input  id="Email" name="Email" type="email" ng-model="user.email">

      <label for="Phone">Phone Number</label>
      <input  id="Phone" name="Phone" ng-model="user.phone"
              required>

      <label for="Address1">Street Address</label>
      <input  id="Address1" name="Address1" ng-model="user.address1" required>

      <label for="PostalCode">Zip Code</label>
      <input  id="PostalCode" name="PostalCode" ng-model="user.postalCode"
              ng-minlength="5" ng-maxlength="5" required>

      <br>

      <input type="submit" value="Add to Rolodex" ng-disabled="userForm.$invalid" />
      <br>
      <a class="link" href="javascript:void(0);" ng-click="addFake()">Add Fake Card</a>
      <br>
      <a class="link" href="javascript:void(0);" ng-click="addSlowWatch()"
              title="This adds a card with a computed first name that takes some MS. You should see a difference in average digest time if you use this.">
        Fake a Slow Computed Value</a>

    </form>

    <div class="rolodex">
      <business-card ng-repeat="person in rolodex" person="person"></business-card>
    </div>

  </div>


  <!-- 3rd Party -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>

  <!-- ngWatchWatcher Module -->
  <script src="ngWatchWatcher/watchWatcher.module.js"></script>
  <script src="ngWatchWatcher/scopeCounters.factory.js"></script>
  <script src="ngWatchWatcher/watchCounters.factory.js"></script>
  <script src="ngWatchWatcher/watchInfoBar.directive.js"></script>
  <script src="ngWatchWatcher/watchLight.directive.js"></script>

  <!-- Sample App -->
  <script>
    angular.module('sampleApp',[ 'watchWatcher' ]);
    angular.module('sampleApp').run(function($timeout, $interval, watchCounters, scopeCounters){


      // Show the help bubble
      $timeout(function(){
        var msg = "";
        $('.watchLight').attr('intro-text', msg);
      }, 2500);

//      console.log("Counts",{
//        watchersByEl:     watchCounters.byEl(),
//        watchersByScope:  watchCounters.byScope(),
//        scopesByEl:       scopeCounters.byEl(),
//        scopesByScope:    scopeCounters.byScope()
//      });

      $interval(function(){
        // This interval is kicking off a $digest.
        // In a real app this would be doing work.
        // Here I'm just showing that the activity indicator picks it up.
      }, 4000);
    });
  </script>
  <script src="sampleApp/main.controller.js"></script>
  <script src="sampleApp/businessCard.directive.js"></script>
  <script src="sampleApp/phoneNumber.filter.js"></script>
  <script src="sampleApp/introText.attribute.js"></script>

</body>
</html>